In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Glassdoor_jobs.csv')
data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location
0,Data Entry,-1,We are looking for Data Entry Clerks to join o...,3.0,TransPerfect Translations Inc.,Remote
1,Data Scientists,-1,We are always looking for Data Scientists who ...,5.0,Ars Quanta,"Seattle, WA"
2,-1,-1,-1,-1.0,-1,-1
3,Data Scientist,Employer Provided Salary:$67 - $82 Per Hour,HI Professional\nHope you are doing good\nWe h...,4.4,ids,Remote
4,Data Science Intern,Employer Provided Salary:$17 Per Hour,Remote Summer Intern\nOnline education is no l...,4.7,Noodle,Remote
5,DATA SCIENTISTS,-1,We are looking for experienced Data Scientists...,5.0,INBOX AMERICA CONSULTING SERVICES,"Alexandria, VA"
6,Sr. Data Scientist,Employer Provided Salary:$58 - $63 Per Hour,Knowledge and experience in building and analy...,4.1,Pricesenz,Remote
7,Data Scientist,-1,"Job Description\n\nInitiates the research, dev...",4.1,Intel,"Hillsboro, OR"
8,-1,Employer Provided Salary:$48 - $77 Per Hour,-1,-1.0,-1,-1
9,Data Scientist,Employer Provided Salary:$250K - $450K,"Our Mission\nWe’re here to create a safer, hap...",4.7,Blue Owl,"San Francisco, CA"
10,Data Scientists,-1,No Relocation Assistance Offered\n# 101782 - P...,4.2,Colgate-Palmolive,"Piscataway, NJ"
11,Data Scientist,Employer Provided Salary:$38 - $43 Per Hour,Title : Data Scientist\nJob Type : Long-term C...,3.0,EGRS,"Cincinnati, OH"
12,Sr. Data Scientist with Python and Machining L...,Employer Provided Salary:$112K - $207K,Need Senior Data Scientist with Python and Mac...,3.7,Simplex Info,Remote
13,Data Scientist - HEDIS - REMOTE,Employer Provided Salary:$79K - $120K,Join our team as a Data Scientist -HEDIS!\nFro...,3.7,Presbyterian Healthcare Services,United States
14,Early career data scientist / analyst / statis...,-1,Are you an early career data scientist / analy...,5.0,Data Tecnica,"Glen Echo, MD"

# Data cleaning 
1. Remove Employer Provided Salary
2. In job description, just add the requrements like (Python & so on)
3. Remove null values

In [27]:
data = data[data['Salary Estimate'] != '-1']
salary = data['Salary Estimate'].apply(lambda x: x.split(':')[1])
salary

3     $67 - $82 Per Hour
4           $17 Per Hour
6     $58 - $63 Per Hour
8     $48 - $77 Per Hour
9          $250K - $450K
11    $38 - $43 Per Hour
12         $112K - $207K
13          $79K - $120K
Name: Salary Estimate, dtype: object

In [29]:
salary.apply(lambda x: x.replace('Per Hour','').replace('$','').replace('K',''))

3        $67 - $82
4              $17
6        $58 - $63
8        $48 - $77
9     $250K - $450K
11       $38 - $43
12    $112K - $207K
13     $79K - $120K
Name: Salary Estimate, dtype: object