In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Glassdoor_jobs.csv')
data

data['Per Hour'] = data['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
data['Employee Provided'] = data['Salary Estimate'].apply(lambda x: 1 if 'employee provided salary' in x.lower() else 0)

# Data cleaning 
1. Remove Employer Provided Salary
2. In job description, just add the requrements like (Python & so on)
3. Remove null values

In [3]:
data = data[data['Salary Estimate'] != '-1']
salary = data['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary = salary.apply(lambda x: x.replace('Per Hour','').replace('$','').replace('K',''))
salary

1       56 - 96
2     139 - 214
4       68 - 97
5     114 - 144
6     120 - 121
8      75 - 146
11     51 - 107
12      62 - 73
14     98 - 121
15      24 - 39
16      44 - 87
17     79 - 136
18      38 - 67
19      61 - 84
20      35 - 72
21      61 - 69
22      91 - 97
23      67 - 68
26      17 - 23
27     76 - 133
28     81 - 123
29      40 - 71
Name: Salary Estimate, dtype: object

In [4]:
data['Min Salary'] = salary.apply(lambda x : int(x.split('-')[0]))
data['Max Salary'] = salary.apply(lambda x : int(x.split('-')[0]))
data['Average Salary'] = (data['Min Salary']+ data['Max Salary'])/2
data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Per Hour,Employee Provided,Min Salary,Max Salary,Average Salary
1,DATA SCIENTIST-HEALTHCARE,$56K - $96K (Glassdoor est.),The Data Scientist has a deep understanding of...,3.7,Premier Health,"Dayton, OH",0,0,56,56,56.0
2,Principal Data Scientist,$139K - $214K (Glassdoor est.),"Working out of our Chevy Chase, MD/Washington ...",3.5,GEICO,"Chevy Chase, MD",0,0,139,139,139.0
4,Senior Scientist,$68K - $97K (Glassdoor est.),Position Summary:\nThe Senior Scientist is a m...,3.5,LGC Limited,"Alexandria, MN",0,0,68,68,68.0
5,Staff Data Scientist,$114K - $144K (Glassdoor est.),Alteryx is searching for a Staff Data Scientis...,3.5,"Alteryx, Inc.","Boston, MA",0,0,114,114,114.0
6,Data Scientist,$120K - $121K (Glassdoor est.),Who Are We?\nQinetiQ Inc. is a leading innovat...,2.5,QinetiQ Inc.,"Lorton, VA",0,0,120,120,120.0
8,Senior Scientist,$75K - $146K (Glassdoor est.),Classification:\nSalary\nJob Description:\nAre...,3.4,Laticrete International,"Bethany, CT",0,0,75,75,75.0
11,Plasma Scientist,$51K - $107K (Glassdoor est.),The Research department is seeking a qualified...,3.1,"INFICON, Inc.","East Syracuse, NY",0,0,51,51,51.0
12,R&D Scientist,$62K - $73K (Glassdoor est.),"LGC, Biosearch Technologies is seeking a detai...",3.5,LGC Limited,"Middleton, WI",0,0,62,62,62.0
14,Senior R&D Scientist,$98K - $121K (Glassdoor est.),"LGC, Biosearch Technologies is looking for a h...",3.5,LGC Limited,"Middleton, WI",0,0,98,98,98.0
15,CLINICAL LABORATORY SCIENTIST,$24 - $39 Per Hour(Glassdoor est.),White Plains Hospital Job Description\nTitle: ...,3.8,White Plains Hospital,"White Plains, NY",1,0,24,24,24.0
16,Data Engineer,$44K - $87K (Glassdoor est.),Schedule: Mon- Fri Overview:\nThe data enginee...,3.8,America First Credit Union,"Ogden, UT",0,0,44,44,44.0
17,Data Visualization Scientist,$79K - $136K (Glassdoor est.),Are you passionate about using data visualizat...,4.7,Johns Hopkins Applied Physics Laboratory (APL),"Laurel, MD",0,0,79,79,79.0
18,Associate Analytical Scientist,$38K - $67K (Glassdoor est.),Position Overview:\nCatalent hires people with...,3.5,Catalent Pharma Solutions,"Winchester, KY",0,0,38,38,38.0
19,-1,$61K - $84K (Glassdoor est.),-1,-1.0,-1,-1,0,0,61,61,61.0
20,Associate Scientist,$35K - $72K (Glassdoor est.),"Sanvita Medical, an exciting new medical devic...",3.6,Nova Biomedical,"Billerica, MA",0,0,35,35,35.0
21,Data Engineer,$61K - $69K (Glassdoor est.),Overview:\nDo you enjoy working with other peo...,4.5,Idaho Central Credit Union,"Chubbuck, ID",0,0,61,61,61.0
22,Associate Data Scientist I or II,$91K - $97K (Glassdoor est.),"BioFire Diagnostics, LLC. is seeking a bright ...",3.8,"BioFire Diagnostics, LLC.","Salt Lake City, UT",0,0,91,91,91.0
23,Scientist I or II,$67K - $68K (Glassdoor est.),"BioFire Diagnostics (BFDX), LLC. is looking fo...",3.8,"BioFire Diagnostics, LLC.","Salt Lake City, UT",0,0,67,67,67.0
26,Medical Laboratory Scientist/Medical Technologist,$17 - $23 Per Hour(Glassdoor est.),MedLogic Laboratory\nMolecular Technologist\nL...,2.0,MedLogic Laboratories,"Baton Rouge, LA",1,0,17,17,17.0
27,Data Engineer,$76K - $133K (Glassdoor est.),The NFI Data and Analytics group is looking fo...,3.3,NFI Industries,"Camden, NJ",0,0,76,76,76.0
28,Data & Analytics Consultant,$81K - $123K (Glassdoor est.),WHO WE LOOK FOR\n\nAn SEI Consultant is a mast...,4.6,SEI,"Cincinnati, OH",0,0,81,81,81.0
29,Analytical Scientist,$40K - $71K (Glassdoor est.),Position Overview:\nCatalent hires people with...,3.5,Catalent Pharma Solutions,"Winchester, KY",0,0,40,40,40.0

In [5]:
data['Python'] = data['Job Description'].apply(lambda x: 1 if 'Python' in x else 0 )
data.Python.value_counts()

0    21
1     1
Name: Python, dtype: int64

In [6]:
data['R_studio'] = data['Job Description'].apply(lambda x: 1 if 'r-studio' or 'r studio' in x.lower() else 0 )
data.R_studio.value_counts()

1    22
Name: R_studio, dtype: int64

In [7]:
data['Spark'] = data['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0 )
data.Spark.value_counts()

0    22
Name: Spark, dtype: int64

In [8]:
data['Excel'] = data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0 )
data.Excel.value_counts()

0    19
1     3
Name: Excel, dtype: int64

In [9]:
data['AWS'] = data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0 )
data.AWS.value_counts()

0    22
Name: AWS, dtype: int64

In [10]:
data['SQL'] = data['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0 )
data.SQL.value_counts()

0    21
1     1
Name: SQL, dtype: int64

In [13]:
data.to_csv('Cleaned_Data.csv', index=False)